<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div class="header">
    <h1>iEfrei.fr - Eat</h1>
    <h2>N'attendez plus à la boulangerie !</h2>
</div>
<div class="container">
    <div class="content">
        <div class="form">
            <input type="text" id="email" placeholder="Adresse email @efrei.net">
            <h2>Type de Formule</h2>
            <select id="order_type">
                <option value="1">Sans formule</option>
                <option value="2">Formule complète</option>
            </select>
            <h2>Plat</h2>
            <select id="order">
                <option value="1">Sandwich Poulet</option>
                <option value="2">Sandwich Thon</option>
                <option value="3">Tartine</option>
                <option value="3">Pizza</option>
            </select>
            <h2>Dessert</h2>
            <select id="dessert">
                <option value="1">Muffin</option>
                <option value="2">Cookie</option>
                <option value="3">Pain au chocolat</option>
                <option value="3">Donut</option>
            </select>
            <h2>Boisson</h2>
            <select id="drink">
                <option value="1">Coca-Cola</option>
                <option value="2">Fanta</option>
                <option value="2">Orangina</option>
                <option value="3">Sprite</option>
                <option value="3">Ice Tea</option>
            </select>
        </div>
        <div class="validate">
            <button id="validate">Valider</button>
        </div>
    </div>
</div>
</body>
</html>