<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>iEfrei.fr - Eat</h1>
    </div>
    <div class="content">
        <div class="form">
            <input type="text" id="email" placeholder="Adresse email (uniquement efrei.net)">
            <label for="order_type">Type de Formule</label>
            <select id="order_type">
                <option value="1">Sans formule</option>
                <option value="2">Formule complète</option>
            </select>
            <label for="order">Plat</label>
            <select id="order">
                <option value="1">Sandwich Poulet</option>
                <option value="2">Sandwich Thon</option>
                <option value="3">Tartine</option>
                <option value="3">Pizza</option>
            </select>
            <label for="dessert">Dessert</label>
            <select id="dessert">
                <option value="1">Muffin</option>
                <option value="2">Cookie</option>
                <option value="3">Pain au chocolat</option>
                <option value="3">Donut</option>
            </select>
            <label for="drink">Boisson</label>
            <select id="drink">
                <option value="1">Coca-Cola</option>
                <option value="2">Fanta</option>
                <option value="2">Orangina</option>
                <option value="3">Sprite</option>
                <option value="3">Ice Tea</option>
            </select>
        </div>
        <div class="validate">
            <button id="validate">Valider</button>
        </div>
    </div>
    <div class="footer">
        <p>Eat.iefrei.fr a pour but de proposer un service de restauration collaboratif entre étudiants.</p>
    </div>
</div>
</body>
</html>