<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iEfrei.fr - Eat</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript" src="../static/scripts/index.js"></script>
<div class="header">
    <h1>iEfrei.fr - Eat</h1>
    <h2>N'attendez plus à la boulangerie !</h2>
</div>
<div class="container">
    <div class="content">
        <div class="form">
            <div class="error">
                <h2 id="error" class="error"></h2>
            </div>
            <input required type="text" id="email" placeholder="Adresse email @efrei.net">
            <h2>Type de Formule</h2>
            <select required id="order_type">
                <option value="no_form">Sans formule - x€/Unit.</option>
                <option selected="selected" value="with_form">Formule complète - 9€</option>
            </select>
            <div id="no_form">
                <h2>Quel produit souhaitez-vous ?</h2>
                <select required id="no_form_product">
                    <option value="Sandwich Poulet - 5.50€">Sandwich Poulet - 5.50€</option>
                    <option value="Sandwich Thon - 5.50€">Sandwich Thon - 5.50€</option>
                    <option value="Fougasse Chèvre - 5.50€">Fougasse Chèvre - 5.50€</option>
                    <option value="Pizza Thon - 4.20€">Pizza Thon - 4.20€</option>
                    <option value="Pizza Chèvre - 4.20€">Pizza Chèvre - 4.20€</option>
                    <option value="Pain aux raisins - 1.70€">Pain aux raisins - 1.70€</option>
                    <option value="Muffin - 2.30€">Muffin - 2.30€</option>
                    <option value="Part de flan - 3.10€">Part de flan - 3.10€</option>
                    <option value="Pain au chocolat - 1.20€">Pain au chocolat - 1.20€</option>
                    <option value="Pain Suisse - 1.80€">Pain Suisse - 1.80€</option>
                    <option value="Croissant - 1.20€">Croissant - 1.20€</option>
                    <option value="Croissant aux amandes - 2.30€">Croissant aux amandes - 2.30€</option>
                    <option value="Coca-Cola - 1.60€">Coca-Cola - 1.60€</option>
                    <option value="Coca-Cola Zero - 1.60€">Coca-Cola Zero - 1.60€</option>
                    <option value="Fanta - 1.60€">Fanta - 1.60€</option>
                    <option value="Orangina - 1.60€">Orangina - 1.60€</option>
                    <option value="Sprite - 1.60€">Sprite - 1.60€</option>
                    <option value="Ice Tea - 1.60€">Ice Tea - 1.60€</option>
                    <option value="Schwepps - 1.60€">Schwepps - 1.60€</option>
                    <option value="Oasis Pomme Cassis - 1.60€">Oasis Pomme Cassis - 1.60€</option>
                </select>
            </div>
            <div id="with_form">
                <h2>Plat</h2>
                <select required id="principal">
                    <option value="Sandwich Poulet">Sandwich Poulet</option>
                    <option value="Sandwich Thon">Sandwich Thon</option>
                    <option value="Fougasse Chèvre">Fougasse Chèvre</option>
                    <option value="Pizza Thon">Pizza Thon</option>
                    <option value="Pizza Chèvre">Pizza Chèvre</option>
                </select>
                <h2>Dessert</h2>
                <select required id="secondary">
                    <option value="Pain aux raisins">Pain aux raisins</option>
                    <option value="Muffin">Muffin</option>
                    <option value="Pain au chocolat">Pain au chocolat</option>
                    <option value="Pain Suisse">Pain Suisse</option>
                    <option value="Croissant">Croissant</option>
                    <option value="Croissant aux amandes">Croissant aux amandes</option>
                    <option value="Part de Flan">Part de Flan</option>
                </select>
                <h2>Boisson</h2>
                <select required id="drink">
                    <option value="Coca-Cola">Coca-Cola</option>
                    <option value="Coca-Cola Zero">Coca-Cola Zero</option>
                    <option value="Fanta">Fanta</option>
                    <option value="Orangina">Orangina</option>
                    <option value="Sprite">Sprite</option>
                    <option value="Ice Tea">Ice Tea</option>
                    <option value="Schwepps">Schwepps</option>
                    <option value="Oasis Pomme Cassis">Oasis Pomme Cassis</option>
                </select>
            </div>
        </div>
        <div class="validate">
            <button id="validate">Valider</button>
        </div>
    </div>
</div>
</body>
</html>