.order
{
    background-color: #247BA0;
    color: #FFF;
    font-size: 15px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

.quote
{
    background-color: #8a8888;
    color: #FFF;
    font-size: 15px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

code {
    background-color: #8a8888;
    color: #FFFCFF;
    padding: 0px 5px;
    border-radius: 2px;
}